{% extends "base.html" %}

{% block content %}
<!-- <h2 class = "headings"> All Countries </h2> -->



    <div class = "flexme">
        <div>
            <h3 class = "headings">Countries I've Been To</h3>
                
                
                <div>
                    {% for country in all_countries %}
                    {% if country.visited == True %}

                    <ul class = "lists">
                        <li><a href="/countries/{{ country.id }}"> {{country.name}}</a></li>
                        <li>
                            <button><a href="/countries/{{country.id}}/edit">Edit</a></button>
                        </li>
                    </ul>
                    <!-- <button><a href="/countries/{{country.id}}/edit">Edit</a></button> -->
                    
                    
                
                    {% endif %}
                    {% endfor%}
                </div>

                
                
        </div>
        <div>
            
            <h3 class = "headings">Countries I Want To Visit</h3>
            {% for country in all_countries %}
            {% if country.visited == False %}
            <div>
                
                <ul class = "lists">
                    <li><a href="/countries/{{ country.id }}"> {{country.name}}</a></li>
                    <li>
                        <button><a href="/countries/{{country.id}}/edit">Edit</a></button>
                    </li>
                </ul>
                

            </div>
            {% endif %}
            {% endfor %}
        </div>
    

    </div>

    {% endblock %}







