{% extends "base.html" %}

{% block content %}

<h2 class="headings">{{country.name}}</h2>
<form action="/cities/new", method = GET>
    <button>Add New City</button>
</form>

    <section class="flexme">
        <div>
            <h3 class = "headings">Visited</h3>
                {% for city in cities %}
                {% if city.visited == True %}
                    <ul class="lists">
                        <li><a href="/cities/{{city.id}}">{{city.name}}</a></li>
                        <li>
                            <button><a href="/cities/{{city.id}}/edit">Edit</a></button>
                        </li>
                        <li>
                        <form action="/cities/{{city.id}}/delete" method ="POST">
                            <button> Delete
                                <!-- <i class="fa fa-trash-o" style="font-size:24px"></i> -->
                            </button>
                        </form>
                        </li>
                    </ul>
                {% endif %}
                {% endfor %}
        </div> 
        

        <div>
            <h3 class = "headings">Bucket List</h3>
                {% for city in cities %}
                {% if city.visited == False %}  
                
                <ul class="lists">
                    <li><a href="/cities/{{city.id}}">{{city.name}}</a></li>
                    <li>
                        <button><a href="/cities/{{city.id}}/edit">Edit</a></button>
                    </li>
                    <li>
                        <form action="/cities/{{city.id}}/delete" method ="POST">
                        <button>
                                Delete
                            <!-- <i class="fa fa-trash-o" style="font-size:24px"></i> -->
                        </button>
                    </form>
                    </li>
                </ul>
                {% endif %}
                {% endfor %}
        </div>
        

    
</section>

{% endblock %}