{% extends "base.html" %}

{% block content %}
   

<div>
    <div>
        <h2> Been There</h2>
        {% for city in all_cities %}
        {% if city.visited == True}
            <ul>
                <li>{{city.name}}</li>
            </ul>
        {% endif %}
        {% endfor %}
    </div>

    <div>
        <h2>Bucket List</h2>
        {% for city in all_cities %}
        {% if city.visited == False %}
            <ul>
                <li>{{city.name}}</li>
            </ul>
        {% endif %}
        {% endfor %}

    </div>
        


</div>

{% endblock %}
