{% extends "base.html" %}

{% block content %}


<h2 class="headings">{{city.name}}</h2>
<button><a href="/cities/{{city.id}}/edit">Edit City</a></button>


<section class="flexme">

    {% for sight in all_sights %}
    <div>
        <h3 class = "headings">{{sight.name}}</h3>
        <p id="comments">{{sight.comment}}</p>
        <form action="/sights/{{sight.id}}/edit" method = "GET">
            <button>Edit</button>
        </form>
        <form action="/sights/{{sight.id}}/delete" method = "POST">
            <button>Delete</button>
        </form>
    </div>
    {% endfor %}
    <button><a href="/sights/new">Add New Attraction</a></button>
    <!-- <button><a href="/cities/{{city.id}}/new">Add New Attraction</a></button> -->
</section>

{% endblock %}
