{% extends "base.html" %}

{% block content %}

<form class = "forms" action="/sights/{{sight.id}}" method="POST">
    <div>
        <label for="sight">Attraction</label>
        <input type="text" id="sight" name="name" placeholder="{{sight.name}}" required autofocus>
    </div>

    <div>
        <label for="comment">Comments</label>
        <textarea name="comment" id="comment" cols="30" rows="10">{{sight.comment}}</textarea>
    </div>

    <div>
        <label for="city">City</label>
        <select id="city" name="city_id">
            <!-- to populate the drop down list -->
            {% for city in cities %}
            {% if sight.city.name == city.name %}
                <option selected = "selected" value="{{city.id}}">{{city.name}}</option>
            {% else %}
                <option value="{{city.id}}">{{city.name}}</option>
            {% endif %}
            {% endfor %}

        </select>
    </div>

    <div>
        <label for="country">Country</label>
        <select name="country_id" id="country">
            {% for country in countries %}
            {% if sight.country.name == country.name %}
            <option selected="selected" value="{{country.id}}">{{country.name}}</option>
            {% else %}
            <option value="{{country.id}}">{{country.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <button type="submit">Update</button>
</form>



{% endblock %}